/* 
    Document   : estilo-checador
    Created on : 8/10/2010, 11:12:10 AM
    Author     : Ironbit
    Description:
        Estilos personalizados para aplicación del checador
*/

/* Agrupar el cuerpo de la página en un div con este id */
#body-content {
padding: 10px 10px 30px 10px;
}

/* Agrupar el pie de página en un div con este id */
#footer {
    position: fixed;
    background-color: #FFF;
    border-top: 1px solid #eee;
    width: 100%;
    bottom: 0px;
    height: 20px;
    margin-top: 10px;
    z-index: 1000;
}

/* Dentro del footer se mete este frame para darle un mejor margen */
#footer-frame {
     height: 20px;
     margin: 0px 10px 0px 10px;
     position: relative;
}

/* Otro div dentro de footer-frame que solo da un poco de relleno a la parte de arriba */
#footer-content {
     padding: 3px 0px 0px 0px;
}

#footer-content p {
    width: 100%;
    color: #444;
    font-size: 0.75em;
    text-align: center;
}

#footer a {
     text-decoration: none;
     color: #333;
     font-weight: bold;
}

#panel {
     width: 700px;
     margin: 0px auto 0px;
}

/* Tamaño para la página inicial del sistema */
#panelCodigo, .codigo {
     width: 410px;
     margin: 0px auto 0px;
}

.codigo { margin: 0px auto 5px; }

/* Tamaño para la página de reportes */
#panelReportes, .reportes {
     width: 800px;
     margin: 0px auto 0px;
}

.reportes { margin: 0px auto 5px; }

/* Color de texto para textfields deshabilitados */
.disabled-txt {
    color: #000;
}